textarea, input[type="text"], input[type="button"], input[type="submit"] {-webkit-appearance: none; border-radius: 0;}

.word {
    display: inline-block;
    text-align: center;
    margin: 4px 2px;
    background-color: rgb(100, 100, 100);
    border: none;
    color: white;
    width: 140px;
    height: 30px;
    padding: 16px 16px;
    font-size: 20px;
    cursor: pointer;
}

.word:hover {
    background-color: rgb(60, 60, 60);
}

.spelling {
    pointer-events: none;
}


.hideP {
    visibility: hidden;
  }